<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
    style="min-height: 600px; background-size: cover; background-position: center top; background-image: url('your-background-image.jpg');">
    <span class="mask bg-gradient-primary opacity-8"></span>
    <div class="container-fluid d-flex align-items-center">
        <div class="row">
            <div class="col-lg-7 col-md-10">
                <h1 class="display-2 text-white">Adicionar Novo Produto</h1>
                <p class="text-white mt-0 mb-5">Preencha os detalhes do novo
                    produto abaixo.</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">Informações do Produto</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form (ngSubmit)="adicionarProduto()">
                        <div class="form-group">
                            <label for="productName">Nome do Produto</label>
                            <input type="text" class="form-control"
                                id="productName" [(ngModel)]="product.nome"
                                name="productName" required>
                        </div>
                        <div class="form-group">
                            <label for="productPrice">Preço do Produto</label>
                            <input type="number" class="form-control"
                                id="productPrice" [(ngModel)]="product.preco"
                                name="productPrice" required>
                        </div>
                        <div class="form-group">
                            <label>Categoria</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio"
                                    id="categoriaCosmeticos" name="categoria"
                                    [(ngModel)]="product.categoria"
                                    [value]="'COSMETICOS'" required>
                                <label class="form-check-label"
                                    for="categoriaCosmeticos">Cosméticos</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio"
                                    id="categoriaAlimenticios" name="categoria"
                                    [(ngModel)]="product.categoria"
                                    [value]="'ALIMENTICIOS'" required>
                                <label class="form-check-label"
                                    for="categoriaAlimenticios">Alimentícios</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio"
                                    id="categoriaVestuario" name="categoria"
                                    [(ngModel)]="product.categoria"
                                    [value]="'VESTUARIO'" required>
                                <label class="form-check-label"
                                    for="categoriaVestuario">Vestuário</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio"
                                    id="categoriaOutros" name="categoria"
                                    [(ngModel)]="product.categoria"
                                    [value]="'OUTROS'" required>
                                <label class="form-check-label"
                                    for="categoriaOutros">Outros</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="productDescription">Descrição do
                                Produto</label>
                            <textarea class="form-control"
                                id="productDescription" rows="3"
                                [(ngModel)]="product.descricao"
                                name="productDescription" required></textarea>
                        </div>
                        <!-- <div class="form-group">
                            <label for="productImage">URL da Imagem do
                                Produto</label>
                            <input type="text" class="form-control"
                                id="productImage"
                                [(ngModel)]="product.imagemProduto"
                                name="productImage" required>
                        </div> -->
                        <div class="form-group mb-3">
                            <label for="image" class="form-label">Imagem</label>
                            <input type="file" class="form-control" id="image"
                                [(ngModel)]="product.imagem"
                                (change)="onFileChange($event)">
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit"
                                class="btn btn-success">Adicionar
                                Produto</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
