<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Bem-vindo!</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none"
      version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Conteúdo da página -->
<div class="container mt--8 pb-5">
  <!-- Tabela -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <small>Cadastre-se com as credenciais</small>
          </div>
          <form role="form" novalidate>
            <!-- Nome e Sobrenome -->
            <div class="form-row">
              <div class="form-group col-md-6">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i
                        class="ni ni-align-left-2"></i></span>
                  </div>
                  <input [(ngModel)]="registerDto.nome" class="form-control"
                    placeholder="Nome" type="text" required>
                </div>
              </div>
              <div class="form-group col-md-6">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i
                        class="ni ni-align-left-2"></i></span>
                  </div>
                  <input [(ngModel)]="registerDto.sobrenome"
                    class="form-control"
                    placeholder="Sobrenome" type="text" required>
                </div>
              </div>
            </div>
            <!-- Nome de Usuário -->
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i
                      class="ni ni-single-02"></i></span>
                </div>
                <input [(ngModel)]="registerDto.username" class="form-control"
                  placeholder="Nome de Usuário" type="text" required>
              </div>
            </div>
            <!-- Número de Celular -->
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i
                      class="ni ni-mobile-button"></i></span>
                </div>
                <input [(ngModel)]="registerDto.telefone" class="form-control"
                  placeholder="Número de Celular" type="tel" required>
              </div>
            </div>
            <!-- Email -->
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i
                      class="ni ni-email-83"></i></span>
                </div>
                <input [(ngModel)]="registerDto.email" class="form-control"
                  placeholder="Email" type="email" required>
              </div>
            </div>
            <!-- Senha -->
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i
                      class="ni ni-lock-circle-open"></i></span>
                </div>
                <input [(ngModel)]="registerDto.password" class="form-control"
                  placeholder="Senha" type="password" required>
              </div>
            </div>
            <!-- Confirmação da Senha -->
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i
                      class="ni ni-lock-circle-open"></i></span>
                </div>
                <input [(ngModel)]="registerDto.passwordConfirmation"
                  class="form-control" placeholder="Confirmação da Senha"
                  type="password" required>
              </div>
            </div>
            <!-- Seleção de Papel -->
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i
                      class="ni ni-badge"></i></span>
                </div>
                <select [(ngModel)]="registerDto.role" class="form-control"
                  required placeholder="Selecione um papel">
                  <option value disabled selected>Selecione um papel</option>
                  <option value=1>Cliente</option>
                  <option value=2>Fornecedor</option>
                </select>
              </div>
            </div>
            <!-- Termos e Condições -->
            <div class="row my-4">
              <div class="col-12">
                <div
                  class="custom-control custom-control-alternative custom-checkbox">
                  <input class="custom-control-input" id="customCheckRegister"
                    type="checkbox" required>
                  <label class="custom-control-label" for="customCheckRegister">
                    <span class="text-muted">Eu concordo com a <a
                        href="#!">Política de Privacidade</a></span>
                  </label>
                </div>
              </div>
            </div>
            <!-- Botão de Registro -->
            <div class="text-center">
              <button type="button" class="btn btn-primary mt-4"
                (click)="register()">Criar conta</button>
            </div>
            <!-- Mensagem de Erro -->
            <div *ngIf="loginFailed" class="error-message mt-3 text-center">
              {{ errorMessage }}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
