<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent pb-5">
          <div class="text-center text-muted mb-4">
            <small>Recuperar Senha</small>
          </div>
        </div>
        <div class="card-body px-lg-5 py-lg-5">
          <form (ngSubmit)="onSubmit()">
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-email-83"></i
                  ></span>
                </div>
                <input
                  [(ngModel)]="email"
                  name="email"
                  class="form-control"
                  placeholder="Email"
                  type="email"
                  required
                />
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary my-4">Enviar</button>
            </div>
          </form>
          <div *ngIf="message" class="alert alert-info mt-3">
            {{ message }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
