<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
    style="min-height: 600px; background-size: cover; background-position: center top;">
    <span class="mask bg-gradient-danger opacity-8"></span>
    <div class="container-fluid d-flex align-items-center">
        <div class="row">
            <div class="col-lg-7 col-md-10">
                <h1 class="display-2 text-white">{{ product.nome }}</h1>
                <p class="text-white mt-0 mb-5">Confira os detalhes do
                    produto escolhido.</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">Detalhes do Produto</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 mb-4">
                            <div class="card">
                                <div *ngIf="imageUrl" class="text-center mt-2">
                                    <img [src]="getProductImageUrl(product)"
                                        alt="Imagem do Produto"
                                        class="img-fluid"
                                        style="max-width: 400px; max-height: 400px; width: auto; height: auto;" />
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{ product.nome
                                        }}</h5>
                                    <h5 class="card-title">R$ {{
                                        product.preco }}</h5>
                                    <p class="card-text">{{
                                        product.descricao }}</p>
                                    <h5 class="card-text">
                                        <a
                                            [routerLink]="['/supplier-detail', product.fornecedorId]">
                                            {{ product.fornecedorNome || '' }}
                                        </a>
                                    </h5>

                                    <div class="mt-4"
                                        *ngIf="canUpdateOrDelete()">
                                        <button class="btn btn-primary"
                                            (click)="atualizarProduto()">Atualizar
                                            Produto</button>
                                        <button class="btn btn-danger ml-2"
                                            (click)="removerProduto()">Remover
                                            Produto</button>
                                    </div>
                                    <div class="mt-4"
                                        *ngIf="!canUpdateOrDelete()">
                                        <button class="btn btn-success"
                                            (click)="fazerPedido()">Fazer
                                            Pedido</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>