<!-- Header Section -->
<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
    style="min-height: 600px; background-image: url(assets/img/theme/supplier-cover.jpg); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-info opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
        <div class="row">
            <div class="col-lg-7 col-md-10">
                <h1 class="display-2 text-white">Fornecedores</h1>
                <p class="text-white mt-0 mb-5">Aqui você pode ver a lista de
                    todos os fornecedores cadastrados no sistema</p>
                <a
                    [routerLink]="['/supplier-add']"
                    class="btn btn-primary">Adicionar fornecedor</a>
            </div>
        </div>
    </div>
</div>

<!-- Suppliers List Section -->
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-xl-12 mb-5 mb-xl-0">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">Lista de Fornecedores</h3>
                        </div>
                        <div class="col text-right">
                            <a href="#!" class="btn btn-sm btn-primary">Ver
                                todos</a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <!-- Suppliers table -->
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Nome</th>
                                <th scope="col">Cidade</th>
                                <th scope="col">País</th>
                                <th scope="col">Produtos</th>
                                <th scope="col">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let fornecedor of fornecedores">
                                <td>{{ fornecedor.nomeFantasia }}</td>
                                <td>{{ fornecedor.city }}</td>
                                <td>{{ fornecedor.country }}</td>
                                <td>{{ fornecedor.products }}</td>
                                <td>
                                    <a
                                        [routerLink]="['/supplier-detail', fornecedor.fornecedorId]"
                                        class="btn btn-sm btn-info">Detalhes</a>
                                    <a
                                        [routerLink]="['/supplier-update', fornecedor.fornecedorId]"
                                        class="btn btn-sm btn-warning">Editar</a>
                                    <button type="button"
                                        class="btn btn-sm btn-danger"
                                        (click)="removeSupplier(fornecedor.fornecedorId)">Excluir</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>